.search_container {
    padding-top: 30px;
}

.search_input {
    width: 100%;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 50px;
    border: 1px solid #575756;
}
.tag_container {
    margin-top: 20px;
}

.tag {
    box-sizing: border-box;
    margin: 0 10px 0 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-block;
    height: auto;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: '#fafafa0';
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
}
.idea_container {
    margin-top: 15px;
    -webkit-box-align: start;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
.idea_item {
    /* width: 15rem; */
    background: bisque;
    margin: 5px;
    padding: 10px;
}